@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700,900');

* {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  /*background: #2d2d2d;*/
  font-family: 'Raleway', sans-serif;
  color: #4F4F4F;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  color: #4f4f4f;
}

h1 {
  font-weight: 900;
}
h2 {
  font-weight: 700;
}
h3 {
  letter-spacing: 2px;
}
h4 {
  letter-spacing: 2px;
}
h5 {
  letter-spacing: 1px;
}
h6 {}

a {
  color: #7FDE66;
}

a:hover {

}


/* Column Overrides */
[class*="col-"] {
  border-radius: 2px;
  /*background: #7FDE66;*/
}

[class*="col-"] [class*="col-"] {
  border-radius: 0;
}

[class*="col-"] label {
  display: block;
  font-weight: 700;
  font-size: 14px;
  text-align: center;
  letter-spacing: 2px;
}



.the-mob {
  margin: 0;
  text-align: center;
}

/* Navigation */
.nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
  padding: 20px;
  width: 250px;
  height: 100vh;
  background: #4f4f4f;
  background: #333333;
}

.logo {
  display: inline-block;
  text-decoration: none;
}

.logo__header {
  margin-top: 15px;
  font-size: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #7FDE66;
  float: left;
}

.logo__subheader {
  font-size: 6px;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: left;
  color: #FF8B53;
}

.logo__image {
  margin-right: 10px;
  height: 50px;
  float: left;
}

.nav-list {
  margin-top: 40px;
  padding: 0;
  list-style: none;
}

.nav-list li {
  border-bottom: 1px solid #4a4a4a;
  border-top: 1px solid #5a5a5a;

  border-bottom: 1px solid #2b2b2b;
  border-top: 1px solid #3c3c3c;
}

.nav-list li:first-child { border-top: 0; }
.nav-list li:last-child { border-bottom: 0; }

.nav-item {
  display: inline-block;
  margin: 10px 0;
  padding: 10px 15px 10px 0;
  font-weight: 300;
  text-decoration: none;
  letter-spacing: 2px;
  font-size: 14px;
  transition: all 0.3s;
}

.nav-item:hover {
  color: #ffffff;
}

.nav-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  padding-bottom: 30px;
  width: 100%;
}

/* Main Container */
.main-container {
  margin-left: 250px;
  padding: 0 20px;
  width: calc(100% - 250px);
}


/* Center the Rows */
.center-column {
  margin: 0 auto;
  max-width: 1400px;
}

.banner {
  min-height: calc(100vh);
}

.banner-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 600px;
  /*background: #bad;*/
}

.banner-title {
  font-size: 100px;
  letter-spacing: 15px;
  text-align: center;
  text-transform: uppercase;
  color: #7FDE66;
}

.banner-subtitle {
  font-size: 14px;
  letter-spacing: 2px;
  text-align: center;
  text-transform: uppercase;
  color: #FF8B53;
}

.banner-logo {
  display: block;
  margin: 0 auto;
  height: 40vh;
}

.banner-text {
  font-size: 20px;
  font-weight: 300;
  text-align: center;
}

@media(max-width: 900px) {
  .banner-title { font-size: 50px; }
  /*.banner-subtitle { font-size: ; }*/
  .banner-logo {
    height: auto;
    width: 100%;
    max-width: 150px;
  }
}

/* Breakpoints */
.breakpoints label {
  text-align: left;
}


/* Code */
code {
  padding: 5px 7px;
  text-align: left;
  line-height: 20px;
  background: #f5f5f5;
  border-radius: 2px;
}

code.dark {
  color: #FF8B53;
  background: #2d2d2d;
}


/* Sections */
.section-header {
  margin: 30px 0;
  text-align: center;
  letter-spacing: 6px;
  font-weight: 900;
  font-size: 40px;
}

.subsection-header {
  margin-top: 70px;
}

@media(max-width: 900px) {
  .section-header { font-size: 30px; }
  .subsection-header { margin-top: 0; }
}


/* Footer */
.footer {
  min-height: 200px;
}

.footer .the-mob {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 14px;
}
