// ===============================
// Peachy Debugging
// ===============================

.debug {
  [class*="col-"] {
    // Change the background color of Nested Columns
    [class*="col-"] {
      background: $light-peach;
      color: $white;
    }

    // Show Breakpoint Flag on Hover
    &:hover::before { opacity: 1; }

    // Breakpoint Flag
    &::before {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      padding: 5px;
      color: $white;
      background: $peach;
      opacity: 0.5;
      clear: both;
      transition: opacity 0.3s;
    }
  }

  // Display a dashed border around the invisible space columns
  .col-space {
    visibility: visible;
    background: transparent;
    border: 3px dashed $peach;
  }

  // Display the Current Breakpoint in Debug Mode

  // S Breakpoint
  @media (min-width: $breakpoint-s) {
    [class*="col-"]::before { content: 'Breakpoint: Small'; }
  }

  // M Breakpoint
  @media (min-width: $breakpoint-m) {
    [class*="col-"]::before { content: 'Breakpoint: Medium'; }
  }

  // L Breakpoint
  @media (min-width: $breakpoint-l) {
    [class*="col-"]::before { content: 'Breakpoint: Large'; }
  }

  // XL Breakpoint
  @media (min-width: $breakpoint-xl) {
    [class*="col-"]::before { content: 'Breakpoint: X Large'; }
  }

  // XXL Breakpoint
  @media (min-width: $breakpoint-xxl) {
    [class*="col-"]::before { content: 'Breakpoint: XX Large'; }
  }
}
