// ===============================
// Peachy Breakpoints
// ===============================

// S Breakpoint
@media (min-width: $breakpoint-s) {
  .bp-s-1 { width: $full; }
  .bp-s-4-5 { width: $four-fifth; }
  .bp-s-3-4 { width: $three-quarter; }
  .bp-s-2-3 { width: $two-third; }
  .bp-s-3-5 { width: $three-fifth; }
  .bp-s-2 { width: $half; }
  .bp-s-2-5 { width: $two-fifth; }
  .bp-s-3 { width: $third; }
  .bp-s-4 { width: $quarter; }
  .bp-s-5 { width: $fifth; }

  // no-gutter scoped breakpoint
  .no-gutter {
    &.bp-s-1 { width: $full-no-gutter; }
    &.bp-s-4-5 { width: $four-fifth-no-gutter; }
    &.bp-s-3-4 { width: $three-quarter-no-gutter; }
    &.bp-s-2-3 { width: $two-third-no-gutter; }
    &.bp-s-3-5 { width: $three-fifth-no-gutter; }
    &.bp-s-2 { width: $half-no-gutter; }
    &.bp-s-2-5 { width: $two-fifth-no-gutter; }
    &.bp-s-3 { width: $third-no-gutter; }
    &.bp-s-4 { width: $quarter-no-gutter; }
    &.bp-s-5 { width: $fifth-no-gutter; }
  }
}

// M Breakpoint
@media (min-width: $breakpoint-m) {
  .bp-m-1 { width: $full; }
  .bp-m-4-5 { width: $four-fifth; }
  .bp-m-3-4 { width: $three-quarter; }
  .bp-m-2-3 { width: $two-third; }
  .bp-m-3-5 { width: $three-fifth; }
  .bp-m-2 { width: $half; }
  .bp-m-2-5 { width: $two-fifth; }
  .bp-m-3 { width: $third; }
  .bp-m-4 { width: $quarter; }
  .bp-m-5 { width: $fifth; }

  // no-gutter scoped breakpoint
  .no-gutter {
    &.bp-m-1 { width: $full-no-gutter; }
    &.bp-m-4-5 { width: $four-fifth-no-gutter; }
    &.bp-m-3-4 { width: $three-quarter-no-gutter; }
    &.bp-m-2-3 { width: $two-third-no-gutter; }
    &.bp-m-3-5 { width: $three-fifth-no-gutter; }
    &.bp-m-2 { width: $half-no-gutter; }
    &.bp-m-2-5 { width: $two-fifth-no-gutter; }
    &.bp-m-3 { width: $third-no-gutter; }
    &.bp-m-4 { width: $quarter-no-gutter; }
    &.bp-m-5 { width: $fifth-no-gutter; }
  }
}

// L Breakpoint
@media (min-width: $breakpoint-l) {
  .bp-l-1 { width: $full; }
  .bp-l-4-5 { width: $four-fifth; }
  .bp-l-3-4 { width: $three-quarter; }
  .bp-l-2-3 { width: $two-third; }
  .bp-l-3-5 { width: $three-fifth; }
  .bp-l-2 { width: $half; }
  .bp-l-2-5 { width: $two-fifth; }
  .bp-l-3 { width: $third; }
  .bp-l-4 { width: $quarter; }
  .bp-l-5 { width: $fifth; }

  // no-gutter scoped breakpoint
  .no-gutter {
    &.bp-l-1 { width: $full-no-gutter; }
    &.bp-l-4-5 { width: $four-fifth-no-gutter; }
    &.bp-l-3-4 { width: $three-quarter-no-gutter; }
    &.bp-l-2-3 { width: $two-third-no-gutter; }
    &.bp-l-3-5 { width: $three-fifth-no-gutter; }
    &.bp-l-2 { width: $half-no-gutter; }
    &.bp-l-2-5 { width: $two-fifth-no-gutter; }
    &.bp-l-3 { width: $third-no-gutter; }
    &.bp-l-4 { width: $quarter-no-gutter; }
    &.bp-l-5 { width: $fifth-no-gutter; }
  }
}


// XL Breakpoint
@media (min-width: $breakpoint-xl) {
  .bp-xl-1 { width: $full; }
  .bp-xl-4-5 { width: $four-fifth; }
  .bp-xl-3-4 { width: $three-quarter; }
  .bp-xl-2-3 { width: $two-third; }
  .bp-xl-3-5 { width: $three-fifth; }
  .bp-xl-2 { width: $half; }
  .bp-xl-2-5 { width: $two-fifth; }
  .bp-xl-3 { width: $third; }
  .bp-xl-4 { width: $quarter; }
  .bp-xl-5 { width: $fifth; }

  // no-gutter scoped breakpoint
  .no-gutter {
    &.bp-xl-1 { width: $full-no-gutter; }
    &.bp-xl-4-5 { width: $four-fifth-no-gutter; }
    &.bp-xl-3-4 { width: $three-quarter-no-gutter; }
    &.bp-xl-2-3 { width: $two-third-no-gutter; }
    &.bp-xl-3-5 { width: $three-fifth-no-gutter; }
    &.bp-xl-2 { width: $half-no-gutter; }
    &.bp-xl-2-5 { width: $two-fifth-no-gutter; }
    &.bp-xl-3 { width: $third-no-gutter; }
    &.bp-xl-4 { width: $quarter-no-gutter; }
    &.bp-xl-5 { width: $fifth-no-gutter; }
  }
}

// XXL Breakpoint
@media (min-width: $breakpoint-xxl) {
  .bp-xxl-1 { width: $full; }
  .bp-xxl-4-5 { width: $four-fifth; }
  .bp-xxl-3-4 { width: $three-quarter; }
  .bp-xxl-2-3 { width: $two-third; }
  .bp-xxl-3-5 { width: $three-fifth; }
  .bp-xxl-2 { width: $half; }
  .bp-xxl-2-5 { width: $two-fifth; }
  .bp-xxl-3 { width: $third; }
  .bp-xxl-4 { width: $quarter; }
  .bp-xxl-5 { width: $fifth; }

  // no-gutter scoped breakpoint
  .no-gutter {
    &.bp-xxl-1 { width: $full-no-gutter; }
    &.bp-xxl-4-5 { width: $four-fifth-no-gutter; }
    &.bp-xxl-3-4 { width: $three-quarter-no-gutter; }
    &.bp-xxl-2-3 { width: $two-third-no-gutter; }
    &.bp-xxl-3-5 { width: $three-fifth-no-gutter; }
    &.bp-xxl-2 { width: $half-no-gutter; }
    &.bp-xxl-2-5 { width: $two-fifth-no-gutter; }
    &.bp-xxl-3 { width: $third-no-gutter; }
    &.bp-xxl-4 { width: $quarter-no-gutter; }
    &.bp-xxl-5 { width: $fifth-no-gutter; }
  }
}
