// ===============================
// Peachy Utilities
// ===============================


// Hide Classes Hiding at a breakpoint
// ===================================

// S Breakpoint
@media (min-width: $breakpoint-s) and (max-width: $breakpoint-m) {
  .hide-s { display: none !important; }
}

// M Breakpoint
@media (min-width: $breakpoint-m) and (max-width: $breakpoint-l) {
  .hide-m { display: none !important; }
}

// L Breakpoint
@media (min-width: $breakpoint-l) and (max-width: $breakpoint-xl) {
  .hide-l { display: none !important; }
}


// XL Breakpoint
@media (min-width: $breakpoint-xl) and (max-width: $breakpoint-xxl) {
  .hide-xl { display: none !important; }
}

// XXL Breakpoint
@media (min-width: $breakpoint-xxl) {
  .hide-xxl { display: none !important; }
}
