// ===============================
// Peachy Columns
// ===============================


//
.row {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  width: 100%;
  &::after {
    content: '';
    display: table;
    clear: both;
  }
}

.flex-errbody [class*="col-"],
.flex-children {
  display: flex;
  flex-wrap: wrap;
}

.no-flex-content { display: block; }

[class*="col-"] {
  position: relative;
  margin: $top-gutter $side-gutter $bottom-gutter;
  min-height: 20px;
  float: left;
  &::after {
    content: '';
    display: table;
    clear: both;
  }
}

// Columns
.col-100 { width: $full; }
.col-80 { width: $four-fifth; }
.col-75 { width: $three-quarter; }
.col-66 { width: $two-third; }
.col-60 { width: $three-fifth; }
.col-50 { width: $half; }
.col-40 { width: $two-fifth; }
.col-33 { width: $third; }
.col-25 { width: $quarter; }
.col-20 { width: $fifth; }


// Columns without Gutters
.no-gutter {
  margin: 0;
  &.col-100 { width: $full-no-gutter; }
  &.col-80 { width: $four-fifth-no-gutter; }
  &.col-75 { width: $three-quarter-no-gutter; }
  &.col-66 { width: $two-third-no-gutter; }
  &.col-60 { width: $three-fifth-no-gutter; }
  &.col-50 { width: $half-no-gutter; }
  &.col-40 { width: $two-fifth-no-gutter; }
  &.col-33 { width: $third-no-gutter; }
  &.col-25 { width: $quarter-no-gutter; }
  &.col-20 { width: $fifth-no-gutter; }
}
